body
{
	font-family: 'Lato Light', sans-serif;
	font-weight: lighter;
    font-size: 20px;

}

header 
{

	border-radius: 0.3em 0.3em 0.3em 0.3em;
	background-color: rgb(128, 154, 223);
	height: 10em;
}

#logo 
{
	width: 50px;
	height:	45px;
	margin-left: 1%;
	margin-top: 0.1em;
	
}

h1 
{
	text-align: left;
	margin: 0% 0% 0% 1%;
}

#recherche
{
	text-align: center;
}

#rechercher
{
	background-color: white;
	padding: 1.5px 2.4px 2.6px 0px;
	font-size: 13px;
}

#Connexion
{
	display: flex;
	text-align: right;
	float: right;
	margin-right: 1%;
	margin-top: 1%;
	
}

#navigation
{
	margin: 1.5% 1% 0% 1%;
}

ul
{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0px;
	margin: auto;
}

li
{
	padding: 0.2em;
}

a
{
	text-decoration: none;
	color: black;
}

.hover:hover
{
	background-color: lightgrey;
	margin: auto;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
}

#logopres
{
    width: 200px;
	height: 125px;
}

#presentation
{
	text-align: center;
}

footer
{
	background-color: rgb(128, 154, 223);
	height: 5em;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
}

footer p
{
	text-align: right;
	margin-right: 2%;
}

footer a
{
	margin-left: 20%;
	margin-right: 8%;
}

