body
{
	font-family: 'Lato Light', sans-serif;
	font-weight: lighter;
}

header 
{
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	background-color: rgb(128, 154, 223);
	height: 10em;
}

#logo 
{
	width: 50px;
	height:	45px;
	margin-left: 1%;
	margin-top: 0.1em;
}

h1 
{
	text-align: left;
	margin: 0% 0% 0% 1%;
}

#recherche
{
	text-align: center;
}
#rechercher
{
	background-color: white;
	padding: 1.5px 2.4px 2.6px 0px;
	font-size: 13px;
}

#Connexion
{
	display: flex;
	text-align: right;
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}

#navigation
{
	margin: 1.5% 1% 0% 1%;
}

ul
{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0px;
	margin: auto;
}

a
{
	text-decoration: none;
	color: black;
}

li
{
	padding: 0.2em;
}

.hover:hover
{
	background-color: lightgrey;
	margin: auto;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
}

aside
{
	text-align: center;
}

#promo
{
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	margin-top: 0.1em;
	width: auto;
	height: auto;
	max-width: 100%;
}

#doli
{
	display: flex;
	margin: 1em 0em 0em 0em;
	border-top: 0.1em solid lightgrey;
	border-bottom: 0.1em  solid lightgrey;
}

img 
{
	width: 200px;
	height: 200px;
}

#description
{
	margin-left: 30px;
	margin-right: 10px;
}

.avis 
{
	width: 82px;
	height: 21px;
}

#panier
{
	text-align: center;
	margin-top: 4em;
	margin-left: 1em;
}

#imgpanier
{
	width: 150px;
	height: 33px;
}

#descriptif
{
	text-align: justify;
	margin-left: 1em;
}

#commentaire
{
	margin: 0em 0em 1em 0em;
	border-bottom: 0.1em solid lightgrey;
	border-top: 0.1em solid lightgrey;
}

#en_tete
{
	margin-left: 1em;
	margin-bottom: 1em;
}

#en_tete>button
{
	margin: 1em 1em 1em 0em;
	width: 243px;
}

#border_comment
{
	border-top: 0.1em solid lightgrey;
}

#excomment
{
	margin-left: 1em;

}

#date
{
	font-size: 12px;
	margin-top: 5px;
}

#avis
{
	width: 66px;
	height: 14px;
}

#eval
{
	height: 4em;
}

#envoyer
{
	flex-direction: column;
}

footer
{
	background-color: rgb(128, 154, 223);
	height: 5em;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
}

footer>p
{
	text-align: right;
	margin-right: 2%;
}

footer>a
{
	margin-left: 20%;
	margin-right: 8%;
}

