body
{
	font-family: 'Lato Light', sans-serif;
	font-weight: lighter;
}

header 
{
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	background-color: rgb(128, 154, 223);
	height: 10em;
}

#logo 
{
	width: 50px;
	height:	45px;
	margin-left: 1%;
	margin-top: 0.1em;
}

h1 
{
	text-align: left;
	margin: 0% 0% 0% 1%;
}

#recherche
{
	text-align: center;
}

#rechercher
{
	background-color: white;
	padding: 1.5px 2.4px 2.6px 0px;
	font-size: 13px;
}

#Connexion
{
	display: flex;
	text-align: right;
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}

#navigation
{
	margin: 1.5% 1% 0% 1%;
}

ul
{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0px;
	margin: auto;
}

a
{
	text-decoration: none;
	color: black;
}

li
{
	padding: 0.2em;
}

.hover:hover
{
	background-color: lightgrey;
	margin: auto;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
}

#doli{
	display: flex;
	margin: 1em 0em 0em 0em;
	border-top: 0.1em solid lightgrey;
	border-bottom: 0.1em  solid lightgrey;
}

img 
{
	width: 200px;
	height: 200px;
}

.avis 
{
    width: 82px;
	height: 21px;
}

#border_commande
{
    margin: 1em 0em 0.69em 0em;
    border-top: 0.1em solid lightgrey;
}

#margin_commande
{
    margin-left: 1em;
}

.description
{
	margin-left: 30px;
}

#border_livraison
{
    border-bottom: 0.1em solid lightgrey;
}

#livraison
{ 
    margin-left: 1em;
}

#adresse1
{
    padding-left: 2.5em;
}

#adresse2
{
    padding-left: 2.5em;
}
#ville
{
    padding-left: 5.1em;
}
#region
{
    padding-left: 3.8em;
}
#code_postal
{
    padding-left: 1.65em;
}
#pays
{
    padding-left: 4.75em;
}
#telephone
{
    padding-left: 2.3em;
}
#instruction
{
    padding-left: 1.9em;
}

#border_paiement
{
    margin: 0em 0em 1em 0em;
    border-bottom: 0.1em solid lightgrey;
}
#paiement
{
    margin-left: 1em;
}


footer
{
	background-color: rgb(128, 154, 223);
	height: 5em;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
}

footer p
{
	text-align: right;
	margin-right: 2%;
}

footer a
{
	margin-left: 20%;
	margin-right: 8%;
}
















