body
{
	font-family: 'Lato Light', sans-serif;
	font-weight: lighter;
}

header 
{
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	background-color: rgb(128, 154, 223);
	height: 10em;
	font-weight: lighter;
}

#logo 
{
	width: 50px;
	height:	45px;
	margin-left: 1%;
	margin-top: 0.1em;
}

h1 
{
	text-align: left;
	margin: 0% 0% 0% 1%;
}

#recherche
{
	text-align: center;
}

#rechercher
{
	background-color: white;
	padding: 1.5px 2.4px 2.6px 0px;
	font-size: 13px;
}

#Connexion
{
	display: flex;
	text-align: right;
	float: right;
	margin-right: 1%;
	margin-top: 1%;
	
}

#navigation
{
	margin: 1.5% 1% 0% 1%;
}

ul
{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0px;
	margin: auto;
}

a
{
	text-decoration: none;
	color: black;
}

li
{
	padding: 0.2em;
}

.hover:hover
{
	background-color: lightgrey;
	margin: auto;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
}

aside
{
	text-align: center;
}

#promo
{
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	margin-top: 0.1em;
	width: auto;
	height: auto;
	max-width: 100%;
}

img 
{
	width: 200px;
	height: 200px;
}

h2
{
	border-top: solid;
	border-bottom: solid;
	border-top-color: black;
	border-bottom-color: black;
	text-align: center;
	font-size: 20px;
}

.produit
{
	margin: 0em 0em 1em 0em;
	border-bottom: 0.1em solid lightgrey;
	text-align: center;
}

#place_lax
{
	border-bottom: 0em;
}

#place_rhin
{
	border-bottom: 0em;
}

footer
{
	background-color: rgb(128, 154, 223);
	height: 5em;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
}

footer p
{
	text-align: right;
	margin-right: 2%;
}

footer a
{
	margin-left: 20%;
	margin-right: 8%;
}



















